/*Estilização das minhas notícias em ordem*/
.Titulo {
    text-align: center;    
    width: auto;
    height: auto;
    font-size:25px;
}

.Resumo{
    font-size:15px;
}



.botao {
    text-align: center;    
    width: auto;
    height: auto;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: auto;
    height: auto;
}





