@model IEnumerable<ProjetoMVCCSHARP.Models.NoticiaModel>
@{
    ViewData["Title"] = "";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="container">
    @foreach(var item in Model)
    {
    <div >

        <div class="Titulo">
            <b> @Html.DisplayFor(modelItem => item.Titulo) </b>
        </div>
        <div class="Resumo">
            @Html.DisplayFor(modelItem => item.Resumo)
        </div>
        <div >
            @if(item.ImagemName != null)
            {
                <img class="noticia-imagem" src="~/Images/@item.ImagemName" />
            }
        </div>
        <div class="botao">
            <a asp-action="Details" asp-route-id="@item.ID">Ler mais</a> 
        </div>
        <br />

    </div>
    }

</div>


