@model IEnumerable<ProjetoMVCCSHARP.Models.Noticia>
@{
    ViewData["Title"] = "";
}

<div>
    @foreach(var item in Model)
    {
    <table>
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Resumo)
            </td>

            <td> <a asp-action="Details" asp-route-id="@item.ID">Ler mais</a> |</td>

        </tr>
    </table>
    }

</div>
