@model ProjetoMVCCSHARP.Models.Noticia

@{
    ViewData["Title"] = "Ler nova notícia";
}

<h2>Ler</h2>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">


        <div>
            <span> @Html.DisplayText(Model.Titulo)</span>

        </div>
        <div>
            <span> @Html.DisplayText(Model.Resumo)</span>

        </div>
        <div>

            <span> @Html.DisplayText(Model.Conteudo)</span>

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

